USE [master]
GO
/****** Object:  Database [BD_MATRICULA]    Script Date: 10/12/2020 23:48:58 ******/
CREATE DATABASE [BD_MATRICULA] ON  PRIMARY 
( NAME = N'BD_MATRICULA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\BD_MATRICULA.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BD_MATRICULA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\BD_MATRICULA_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_MATRICULA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_MATRICULA]
GO
/****** Object:  User [usrdesarrollo]    Script Date: 10/12/2020 23:49:00 ******/
CREATE USER [usrdesarrollo] FOR LOGIN [usrdesarrollo] WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'usrdesarrollo'
GO
/****** Object:  Table [dbo].[T_GENM_ALUMNO]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_GENM_ALUMNO](
	[ID_ALUMNO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](7) NULL,
	[SEMESTRE_INGRESO] [varchar](250) NULL,
	[FLG_ESTADO] [char](1) NULL,
	[ID_USUARIO_REG] [int] NULL,
	[FEC_REG] [datetime] NULL,
	[ID_USUARIO_ACT] [int] NULL,
	[FEC_ACT] [datetime] NULL,
	[ID_PERSONA] [int] NOT NULL,
 CONSTRAINT [XPKT_GENM_ALUMNO] PRIMARY KEY CLUSTERED 
(
	[ID_ALUMNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_GENM_ASIGNATURA]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_GENM_ASIGNATURA](
	[ID_ASIGNATURA] [int] IDENTITY(1,1) NOT NULL,
	[ID_TIPO_ASIGNATURA] [int] NOT NULL,
	[ID_CICLO_PLAN] [int] NOT NULL,
	[NOMBRE] [varchar](250) NULL,
	[CREDITO] [int] NULL,
	[ID_USUARIO_REG] [int] NULL,
	[FEC_REG] [datetime] NULL,
	[ID_USUARIO_ACT] [int] NULL,
	[FEC_ACT] [datetime] NULL,
	[FLG_ESTADO] [char](1) NULL,
 CONSTRAINT [XPKT_GENM_CURSO] PRIMARY KEY CLUSTERED 
(
	[ID_ASIGNATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_GENM_AULA]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_GENM_AULA](
	[ID_AULA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](250) NULL,
	[FLG_ESTADO] [char](1) NULL,
	[FEC_REG] [datetime] NULL,
	[ID_USUARIO_REG] [int] NULL,
	[ID_USUARIO_ACT] [int] NULL,
	[FEC_ACT] [datetime] NULL,
	[CANTIDAD] [int] NULL,
 CONSTRAINT [XPKT_GENM_AULA] PRIMARY KEY CLUSTERED 
(
	[ID_AULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_GENM_GRUPO]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_GENM_GRUPO](
	[ID_GRUPO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](250) NULL,
	[FLG_ESTADO] [char](1) NULL,
	[ID_USUARIO_REG] [int] NULL,
	[FEC_REG] [datetime] NULL,
	[ID_USUARIO_ACT] [int] NULL,
	[FEC_ACT] [datetime] NULL,
	[ID_AULA] [int] NOT NULL,
 CONSTRAINT [XPKT_GENM_GRUPO] PRIMARY KEY CLUSTERED 
(
	[ID_GRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_GENM_MATRICULA]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_GENM_MATRICULA](
	[ID_MATRICULA] [int] IDENTITY(1,1) NOT NULL,
	[ID_ALUMNO] [int] NOT NULL,
	[ID_GRUPO] [int] NOT NULL,
	[ID_SEMESTRE] [int] NOT NULL,
	[CODIGO_MATRICULA] [varchar](7) NULL,
	[FECHA_MATRICULA] [datetime] NULL,
	[FLG_ESTADO] [char](1) NULL,
	[ID_USUARIO_REG] [int] NULL,
	[FEC_REG] [datetime] NULL,
	[ID_USUARIO_ACT] [int] NULL,
	[FEC_ACT] [datetime] NULL,
 CONSTRAINT [XPKT_GENM_MATRICULA] PRIMARY KEY CLUSTERED 
(
	[ID_MATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_GENM_NOTA]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_GENM_NOTA](
	[ID_NOTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_TIPO_EVALUACION] [int] NOT NULL,
	[ID_ASIGNATURA] [int] NOT NULL,
	[FLG_ESTADO] [char](1) NULL,
	[ID_USUARIO_REG] [int] NULL,
	[FEC_REG] [datetime] NULL,
	[ID_USUARIO_ACT] [int] NULL,
	[FEC_ACT] [datetime] NULL,
	[ID_ALUMNO] [int] NOT NULL,
	[NOTA] [decimal](18, 2) NULL,
 CONSTRAINT [XPKT_GENM_NOTA] PRIMARY KEY CLUSTERED 
(
	[ID_NOTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_GENM_PERSONA]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_GENM_PERSONA](
	[ID_PERSONA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRES] [varchar](250) NULL,
	[APELLIDO_PATERNO] [varchar](250) NULL,
	[APELLIDO_MATERNO] [varchar](250) NULL,
	[MAIL] [varchar](250) NULL,
	[NRO_TELEFONO] [varchar](9) NULL,
	[FECHA_NACIMIENTO] [datetime] NULL,
	[SEXO] [char](1) NULL,
	[FLG_ESTADO] [char](1) NULL,
	[ID_USUARIO_REG] [int] NULL,
	[FEC_REG] [datetime] NULL,
	[ID_USUARIO_ACT] [int] NULL,
	[FEC_ACT] [datetime] NULL,
	[DNI] [varchar](8) NULL,
 CONSTRAINT [XPKT_GENM_PERSONA] PRIMARY KEY CLUSTERED 
(
	[ID_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_GENM_USUARIO]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_GENM_USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
	[ID_TIPO_USUARIO] [int] NOT NULL,
	[FLG_ESTADO] [char](1) NULL,
	[ID_USUARIO_REG] [int] NULL,
	[FEC_REG] [datetime] NULL,
	[ID_USUARIO_ACT] [int] NULL,
	[FEC_ACT] [datetime] NULL,
	[NOMBRE_USUARIO] [varchar](50) NOT NULL,
	[CONTRASENA] [varchar](50) NOT NULL,
 CONSTRAINT [XPKT_GENM_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_MAE_CICLO_PLAN]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_MAE_CICLO_PLAN](
	[ID_CICLO_PLAN] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](250) NULL,
	[FLG_ESTADO] [char](1) NULL,
	[ID_USUARIO_REG] [int] NULL,
	[FEC_REG] [datetime] NULL,
	[ID_USUARIO_ACT] [int] NULL,
	[FEC_ACT] [datetime] NULL,
 CONSTRAINT [XPKT_MAE_CICLO_PLAN] PRIMARY KEY CLUSTERED 
(
	[ID_CICLO_PLAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_MAE_SEMESTRE]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_MAE_SEMESTRE](
	[ID_SEMESTRE] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](250) NULL,
	[FLG_ESTADO] [char](1) NULL,
	[ID_USUARIO_REG] [int] NULL,
	[FEC_REG] [datetime] NULL,
	[ID_USUARIO_ACT] [int] NULL,
	[FEC_ACT] [datetime] NULL,
 CONSTRAINT [XPKT_MAE_SEMESTRE] PRIMARY KEY CLUSTERED 
(
	[ID_SEMESTRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_MAE_TIPO_ASIGNATURA]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_MAE_TIPO_ASIGNATURA](
	[ID_TIPO_ASIGNATURA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](250) NULL,
	[FLG_ESTADO] [char](1) NULL,
	[ID_USUARIO_REG] [int] NULL,
	[FEC_REG] [datetime] NULL,
	[ID_USUARIO_ACT] [int] NULL,
	[FEC_ACT] [datetime] NULL,
 CONSTRAINT [XPKT_MAE_TIPO_CURSO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_ASIGNATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_MAE_TIPO_EVALUACION]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_MAE_TIPO_EVALUACION](
	[ID_TIPO_EVALUACION] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](250) NULL,
	[FLG_ESTADO] [char](1) NULL,
	[ID_USUARIO_REG] [int] NULL,
	[FEC_REG] [datetime] NULL,
	[ID_USUARIO_ACT] [int] NULL,
	[FEC_ACT] [datetime] NULL,
 CONSTRAINT [XPKT_MAE_TIPO_EVALUACION] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_EVALUACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_MAE_TIPO_USUARIO]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_MAE_TIPO_USUARIO](
	[ID_TIPO_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](250) NULL,
	[FLG_ESTADO] [char](1) NULL,
	[FEC_REG] [datetime] NULL,
	[ID_USUARIO_REG] [int] NULL,
	[FEC_ACT] [datetime] NULL,
	[ID_USUARIO_ACT] [int] NULL,
 CONSTRAINT [XPKT_MAE_TIPO_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_GENM_ALUMNO]  WITH CHECK ADD  CONSTRAINT [R_10] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[T_GENM_PERSONA] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[T_GENM_ALUMNO] CHECK CONSTRAINT [R_10]
GO
ALTER TABLE [dbo].[T_GENM_ASIGNATURA]  WITH CHECK ADD  CONSTRAINT [R_1] FOREIGN KEY([ID_TIPO_ASIGNATURA])
REFERENCES [dbo].[T_MAE_TIPO_ASIGNATURA] ([ID_TIPO_ASIGNATURA])
GO
ALTER TABLE [dbo].[T_GENM_ASIGNATURA] CHECK CONSTRAINT [R_1]
GO
ALTER TABLE [dbo].[T_GENM_ASIGNATURA]  WITH CHECK ADD  CONSTRAINT [R_2] FOREIGN KEY([ID_CICLO_PLAN])
REFERENCES [dbo].[T_MAE_CICLO_PLAN] ([ID_CICLO_PLAN])
GO
ALTER TABLE [dbo].[T_GENM_ASIGNATURA] CHECK CONSTRAINT [R_2]
GO
ALTER TABLE [dbo].[T_GENM_GRUPO]  WITH CHECK ADD  CONSTRAINT [R_3] FOREIGN KEY([ID_AULA])
REFERENCES [dbo].[T_GENM_AULA] ([ID_AULA])
GO
ALTER TABLE [dbo].[T_GENM_GRUPO] CHECK CONSTRAINT [R_3]
GO
ALTER TABLE [dbo].[T_GENM_MATRICULA]  WITH CHECK ADD  CONSTRAINT [R_4] FOREIGN KEY([ID_ALUMNO])
REFERENCES [dbo].[T_GENM_ALUMNO] ([ID_ALUMNO])
GO
ALTER TABLE [dbo].[T_GENM_MATRICULA] CHECK CONSTRAINT [R_4]
GO
ALTER TABLE [dbo].[T_GENM_MATRICULA]  WITH CHECK ADD  CONSTRAINT [R_5] FOREIGN KEY([ID_GRUPO])
REFERENCES [dbo].[T_GENM_GRUPO] ([ID_GRUPO])
GO
ALTER TABLE [dbo].[T_GENM_MATRICULA] CHECK CONSTRAINT [R_5]
GO
ALTER TABLE [dbo].[T_GENM_MATRICULA]  WITH CHECK ADD  CONSTRAINT [R_6] FOREIGN KEY([ID_SEMESTRE])
REFERENCES [dbo].[T_MAE_SEMESTRE] ([ID_SEMESTRE])
GO
ALTER TABLE [dbo].[T_GENM_MATRICULA] CHECK CONSTRAINT [R_6]
GO
ALTER TABLE [dbo].[T_GENM_NOTA]  WITH CHECK ADD  CONSTRAINT [R_7] FOREIGN KEY([ID_TIPO_EVALUACION])
REFERENCES [dbo].[T_MAE_TIPO_EVALUACION] ([ID_TIPO_EVALUACION])
GO
ALTER TABLE [dbo].[T_GENM_NOTA] CHECK CONSTRAINT [R_7]
GO
ALTER TABLE [dbo].[T_GENM_NOTA]  WITH CHECK ADD  CONSTRAINT [R_8] FOREIGN KEY([ID_ASIGNATURA])
REFERENCES [dbo].[T_GENM_ASIGNATURA] ([ID_ASIGNATURA])
GO
ALTER TABLE [dbo].[T_GENM_NOTA] CHECK CONSTRAINT [R_8]
GO
ALTER TABLE [dbo].[T_GENM_NOTA]  WITH CHECK ADD  CONSTRAINT [R_9] FOREIGN KEY([ID_ALUMNO])
REFERENCES [dbo].[T_GENM_ALUMNO] ([ID_ALUMNO])
GO
ALTER TABLE [dbo].[T_GENM_NOTA] CHECK CONSTRAINT [R_9]
GO
ALTER TABLE [dbo].[T_GENM_USUARIO]  WITH CHECK ADD  CONSTRAINT [R_11] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[T_GENM_PERSONA] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[T_GENM_USUARIO] CHECK CONSTRAINT [R_11]
GO
ALTER TABLE [dbo].[T_GENM_USUARIO]  WITH CHECK ADD  CONSTRAINT [R_12] FOREIGN KEY([ID_TIPO_USUARIO])
REFERENCES [dbo].[T_MAE_TIPO_USUARIO] ([ID_TIPO_USUARIO])
GO
ALTER TABLE [dbo].[T_GENM_USUARIO] CHECK CONSTRAINT [R_12]
GO
/****** Object:  StoredProcedure [dbo].[PRD_INSERTAR_MATRICULA]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRD_INSERTAR_MATRICULA](
	 @IN_NOMBRES VARCHAR(250)
	,@IN_APELLIDO_PATERNO VARCHAR(250)
	,@IN_APELLIDO_MATERNO VARCHAR(250)
	,@IN_MAIL VARCHAR(250)
	,@IN_NRO_TELEFONO VARCHAR(250)
	,@IN_FECHA_NACIMIENTO DATE
	,@IN_SEMESTRE_INGRESO VARCHAR(250)
	,@IN_SEXO CHAR(1)
	,@IN_ID_GRUPO INTEGER
	,@IN_ID_SEMESTRE INTEGER
	,@IN_FECHA_MATRICULA DATE
	,@IN_ID_USUARIO_REG INTEGER
	,@IN_ID_AULA INTEGER
	,@DNI VARCHAR(8)
)
AS
BEGIN
		DECLARE @Alumno_Id INTEGER;
		DECLARE @contador INTEGER;
		DECLARE @cantidad INTEGER;
		DECLARE @IN_CODIGO_ALUMNO VARCHAR(7);
		DECLARE @IN_CODIGO_MATRICULA VARCHAR(7);
		DECLARE @Persona_Id INTEGER;
		

		SELECT @cantidad=cantidad
				FROM
				T_GENM_GRUPO G
				INNER JOIN T_GENM_AULA A ON G.ID_AULA = A.ID_AULA
				WHERE G.ID_GRUPO = @IN_ID_SEMESTRE AND A.ID_AULA = @IN_ID_AULA AND G.FLG_ESTADO = '1' AND A.FLG_ESTADO = '1';
		
		SELECT @contador=COUNT (1)
				FROM
				T_GENM_MATRICULA 
				WHERE ID_SEMESTRE = @IN_ID_SEMESTRE AND ID_GRUPO = @IN_ID_AULA AND FLG_ESTADO = '1';
		
		IF @cantidad =  @contador
		BEGIN
			
			SELECT '0' AS RESULTADO,'La aula selecciona ya no cuenta con cupos. Intente matricularse en otra aula' AS MENSAJE;
		END
		ELSE
		BEGIN
			BEGIN TRANSACTION 
			BEGIN TRY
				
				SET @IN_CODIGO_ALUMNO = (SELECT RIGHT('0000000' + Ltrim(Rtrim(CAST(ISNULL(MAX(CODIGO),'0') AS INTEGER) + 1)),7) 
							FROM T_GENM_ALUMNO);

				SELECT @contador=COUNT (1)
				FROM T_GENM_PERSONA 
				WHERE LTRIM(RTRIM(DNI)) =  LTRIM(RTRIM(@DNI));

				IF @contador = 0 
				BEGIN
					INSERT INTO dbo.T_GENM_PERSONA
						   (NOMBRES, APELLIDO_PATERNO, APELLIDO_MATERNO, MAIL, NRO_TELEFONO, FECHA_NACIMIENTO
						   ,SEXO, FLG_ESTADO, ID_USUARIO_REG, FEC_REG, DNI)
					 VALUES
						   (@IN_NOMBRES, @IN_APELLIDO_PATERNO, @IN_APELLIDO_MATERNO, @IN_MAIL, @IN_NRO_TELEFONO, @IN_FECHA_NACIMIENTO
						   ,@IN_SEXO, '1', @IN_ID_USUARIO_REG, GETDATE(), @DNI);
					 SET @Persona_Id = @@IDENTITY;
				END
				ELSE
				BEGIN
					SET @Persona_Id = ( SELECT ID_PERSONA FROM T_GENM_PERSONA WHERE LTRIM(RTRIM(DNI)) =  LTRIM(RTRIM(@DNI)))
				END 

				INSERT INTO dbo.T_GENM_ALUMNO
					   (CODIGO , SEMESTRE_INGRESO, FLG_ESTADO, ID_USUARIO_REG, FEC_REG, ID_PERSONA)
				VALUES
					   (@IN_CODIGO_ALUMNO, @IN_SEMESTRE_INGRESO, '1', @IN_ID_USUARIO_REG, GETDATE(), @Persona_Id);
			    SET @Alumno_Id = @@IDENTITY;
				
				SET @IN_CODIGO_MATRICULA = (SELECT RIGHT('0000000' + Ltrim(Rtrim(CAST(ISNULL(MAX(CODIGO_MATRICULA),'0') AS INTEGER) + 1)),7) 
							FROM T_GENM_MATRICULA);
	
				INSERT INTO dbo.T_GENM_MATRICULA
					(ID_ALUMNO, ID_GRUPO, ID_SEMESTRE, CODIGO_MATRICULA, FECHA_MATRICULA, FLG_ESTADO, ID_USUARIO_REG, FEC_REG)
				 VALUES
					(@Alumno_Id, @IN_ID_GRUPO, @IN_ID_SEMESTRE, @IN_CODIGO_MATRICULA, @IN_FECHA_MATRICULA, '1', @IN_ID_USUARIO_REG, GETDATE())


			COMMIT TRANSACTION

				SELECT '1' AS RESULTADO,'Se registro correctamente' AS MENSAJE;
			END TRY
	
			BEGIN CATCH
				ROLLBACK TRANSACTION
				
				SELECT 0 AS IDUSUARIO, '0' AS RESULTADO,'Error al procesar la transacción' AS MENSAJE;
			END CATCH
		END

END
/*
EXEC PRD_INSERTAR_MATRICULA  @IN_NOMBRES = 'MARWGORI PENA', @IN_APELLIDO_PATERNO = 'CACERESD', @IN_APELLIDO_MATERNO = 'RUDIZ'
							,@IN_MAIL = 'margoriyua@gmail.com', @IN_NRO_TELEFONO = '951075457', @IN_FECHA_NACIMIENTO = '01/01/1990'
							,@IN_SEMESTRE_INGRESO = '2020 - I', @IN_SEXO = 'F', @IN_ID_GRUPO = 1, @IN_ID_SEMESTRE = 1, @IN_FECHA_MATRICULA = '07/11/2020'
							,@IN_ID_USUARIO_REG = 1, @IN_ID_AULA = 2, @DNI = '8045521'
 */
GO
/****** Object:  StoredProcedure [dbo].[PRD_INSERTAR_PERSONA_USUARIO]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRD_INSERTAR_PERSONA_USUARIO](
	 @IN_NOMBRES VARCHAR(250)
	,@IN_APELLIDO_PATERNO VARCHAR(250)
	,@IN_APELLIDO_MATERNO VARCHAR(250)
	,@IN_MAIL VARCHAR(250)
	,@IN_NRO_TELEFONO VARCHAR(250)
	,@IN_FECHA_NACIMIENTO DATE
	,@IN_SEXO CHAR(1)
	,@IN_ID_USUARIO_REG INTEGER
	,@DNI VARCHAR(8)
	,@IN_ID_TIPO_USUARIO INTEGER
	,@IN_NOMBRE_USUARIO VARCHAR(50)
	,@IN_CONTRASENA VARCHAR(50)
)
AS
BEGIN
		DECLARE @contador INTEGER;
		DECLARE @Persona_Id INTEGER;
		
		BEGIN TRANSACTION 
		BEGIN TRY
				
			SELECT @contador=COUNT (1)
			FROM T_GENM_PERSONA 
			WHERE LTRIM(RTRIM(DNI)) =  LTRIM(RTRIM(@DNI));

			IF @contador = 0 
			BEGIN
				INSERT INTO dbo.T_GENM_PERSONA
						(NOMBRES, APELLIDO_PATERNO, APELLIDO_MATERNO, MAIL, NRO_TELEFONO, FECHA_NACIMIENTO
						,SEXO, FLG_ESTADO, ID_USUARIO_REG, FEC_REG, DNI)
					VALUES
						(@IN_NOMBRES, @IN_APELLIDO_PATERNO, @IN_APELLIDO_MATERNO, @IN_MAIL, @IN_NRO_TELEFONO, @IN_FECHA_NACIMIENTO
						,@IN_SEXO, '1', @IN_ID_USUARIO_REG, GETDATE(), @DNI);
					SET @Persona_Id = @@IDENTITY;
			END
			ELSE
			BEGIN
				SET @Persona_Id = ( SELECT ID_PERSONA FROM T_GENM_PERSONA WHERE LTRIM(RTRIM(DNI)) =  LTRIM(RTRIM(@DNI)))
			END 

			SELECT @contador=COUNT (1)
				FROM
				T_GENM_PERSONA P 
				INNER JOIN T_GENM_USUARIO U ON P.ID_PERSONA = U.ID_PERSONA
				WHERE LTRIM(RTRIM(P.DNI)) =  LTRIM(RTRIM(@DNI));

		    IF @contador = 0 
			BEGIN
				INSERT INTO T_GENM_USUARIO
				   (ID_PERSONA, ID_TIPO_USUARIO, FLG_ESTADO, ID_USUARIO_REG
				   ,FEC_REG, NOMBRE_USUARIO, CONTRASENA)
				VALUES
				   (@Persona_Id, @IN_ID_TIPO_USUARIO, '1', @IN_ID_USUARIO_REG
				   ,GETDATE(), @IN_NOMBRE_USUARIO, @IN_CONTRASENA)
			END
			ELSE
			BEGIN
				UPDATE T_GENM_USUARIO
					SET ID_TIPO_USUARIO = @IN_ID_TIPO_USUARIO,
						FLG_ESTADO = '1',
						ID_USUARIO_ACT = @IN_ID_USUARIO_REG,
						FEC_ACT = GETDATE(),
						NOMBRE_USUARIO = @IN_NOMBRE_USUARIO,
						CONTRASENA = @IN_CONTRASENA
				WHERE ID_PERSONA IN (SELECT ID_PERSONA FROM T_GENM_PERSONA WHERE LTRIM(RTRIM(DNI)) =  LTRIM(RTRIM(@DNI)))

			END 


			


		COMMIT TRANSACTION

			SELECT '1' AS RESULTADO,'Se registro correctamente' AS MENSAJE;
		END TRY
	
		BEGIN CATCH
			ROLLBACK TRANSACTION
				
			SELECT 0 AS IDUSUARIO, '0' AS RESULTADO,'Error al procesar la transacción' AS MENSAJE;
		END CATCH
		

END
/*
EXEC PRD_INSERTAR_PERSONA_USUARIO  @IN_NOMBRES = 'MARWGORI PENA', @IN_APELLIDO_PATERNO = 'CACERESD', @IN_APELLIDO_MATERNO = 'RUDIZ'
							,@IN_MAIL = 'margoriyua@gmail.com', @IN_NRO_TELEFONO = '951075457', @IN_FECHA_NACIMIENTO = '01/01/1990'
							,@IN_SEXO = 'F', @IN_ID_USUARIO_REG = 1, @DNI = '8045521', @IN_ID_TIPO_USUARIO = 1
							,@IN_NOMBRE_USUARIO ='CUSER1', @IN_CONTRASENA = '123456'
 */
GO
/****** Object:  StoredProcedure [dbo].[PRD_LISTAR_ALUMNO]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRD_LISTAR_ALUMNO]
AS 
BEGIN

	SELECT DISTINCT A.ID_ALUMNO      
      ,A.NOMBRES + ' ' + A.APELLIDO_PATERNO + ' ' + A.APELLIDO_MATERNO AS NOMBRES
      
	FROM T_GENM_ALUMNO A 
	
	WHERE A.FLG_ESTADO = '1' ;


END;
--EXEC PRD_LISTAR_PARTES_VEH
GO
/****** Object:  StoredProcedure [dbo].[PRD_LISTAR_ALUMNO_AULA]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRD_LISTAR_ALUMNO_AULA](
	@IN_ID_GRUPO INTEGER,
	@IN_ID_AULA INTEGER,
	@IN_ID_SEMESTRE INTEGER
)
AS 
BEGIN

	SELECT A.ID_ALUMNO
      ,A.CODIGO
      ,P.NOMBRES+' '+P.APELLIDO_PATERNO+' '+P.APELLIDO_MATERNO as NOMBRES
      ,P.APELLIDO_PATERNO
      ,P.APELLIDO_MATERNO
      ,P.MAIL
      ,P.NRO_TELEFONO
      ,P.FECHA_NACIMIENTO
      ,P.SEXO
	FROM T_GENM_ALUMNO A 
  INNER JOIN T_GENM_PERSONA P ON A.ID_PERSONA=P.ID_PERSONA
	INNER JOIN T_GENM_MATRICULA M ON A.ID_ALUMNO = M.ID_ALUMNO
	INNER JOIN T_GENM_GRUPO G ON M.ID_GRUPO = G.ID_GRUPO
	INNER JOIN T_GENM_AULA AL ON G.ID_AULA = AL.ID_AULA
	WHERE A.FLG_ESTADO = '1' AND M.FLG_ESTADO = '1' AND G.FLG_ESTADO = '1' AND AL.FLG_ESTADO = '1'
	AND G.ID_GRUPO = @IN_ID_GRUPO AND AL.ID_AULA = @IN_ID_AULA AND M.ID_SEMESTRE = @IN_ID_SEMESTRE;


END;
--EXEC PRD_LISTAR_PARTES_VEH
GO
/****** Object:  StoredProcedure [dbo].[PRD_LISTAR_ALUMNO_MATRICULA]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRD_LISTAR_ALUMNO_MATRICULA](
	@IN_NOMBRE_COMPLETO VARCHAR(250),
	@IN_ID_SEMESTRE INTEGER
)
AS 
BEGIN

	SELECT MAT.CODIGO_MATRICULA, P.NOMBRES + ' ' + P.APELLIDO_PATERNO + ' ' + P.APELLIDO_MATERNO AS NOMBRES, 
		ASI.NOMBRE AS ASIGNATURA, TE.DESCRIPCION AS TIPO_ASIGNATURA,
		N.NOTA, S.DESCRIPCION AS SEMESTRE, C.DESCRIPCION AS CICLO

	FROM T_GENM_ALUMNO A
  INNER JOIN T_GENM_PERSONA P ON A.ID_PERSONA=P.ID_PERSONA
	INNER JOIN T_GENM_NOTA N ON A.ID_ALUMNO = N.ID_ALUMNO
	INNER JOIN T_MAE_TIPO_EVALUACION TE ON N.ID_TIPO_EVALUACION = TE.ID_TIPO_EVALUACION
	INNER JOIN T_GENM_ASIGNATURA ASI ON N.ID_ASIGNATURA = ASI.ID_ASIGNATURA
	INNER JOIN T_GENM_MATRICULA MAT ON A.ID_ALUMNO = MAT.ID_ALUMNO
	INNER JOIN T_MAE_SEMESTRE S ON MAT.ID_SEMESTRE = S.ID_SEMESTRE
	INNER JOIN T_MAE_CICLO_PLAN C ON ASI.ID_CICLO_PLAN = C.ID_CICLO_PLAN
	WHERE A.ID_ALUMNO=@IN_NOMBRE_COMPLETO 
	AND S.ID_SEMESTRE = @IN_ID_SEMESTRE AND MAT.FLG_ESTADO = '1' AND N.FLG_ESTADO = '1' AND ASI.FLG_ESTADO = '1'


END;
--EXEC PRD_LISTAR_ALUMNO_MATRICULA @IN_NOMBRE_COMPLETO = 'DI', @IN_ID_SEMESTRE = 1
GO
/****** Object:  StoredProcedure [dbo].[PRD_LISTAR_ASIGNATURAS]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRD_LISTAR_ASIGNATURAS]
AS
BEGIN
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
SELECT ID_ASIGNATURA,NOMBRE FROM T_GENM_ASIGNATURA WHERE FLG_ESTADO=1;
END
GO
/****** Object:  StoredProcedure [dbo].[PRD_LISTAR_AULA]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRD_LISTAR_AULA]
(
	@IN_ID_GRUPO INTEGER
)
AS 
BEGIN

	SELECT A.ID_GRUPO   
      ,A.DESCRIPCION AS GRUPO
	  ,AL.ID_AULA
	  ,AL.DESCRIPCION AS AULA
      
	FROM T_GENM_GRUPO A 
	INNER JOIN T_GENM_AULA AL ON A.ID_AULA = AL.ID_AULA
	
	WHERE A.FLG_ESTADO = '1' AND AL.FLG_ESTADO = '1'
	AND A.ID_GRUPO = @IN_ID_GRUPO;


END;
--EXEC PRD_LISTAR_AULA @IN_ID_GRUPO = 1
GO
/****** Object:  StoredProcedure [dbo].[PRD_LISTAR_AULAS]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRD_LISTAR_AULAS]
AS
BEGIN
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
SELECT ID_AULA ,DESCRIPCION FROM T_GENM_AULA WHERE FLG_ESTADO=1
END
GO
/****** Object:  StoredProcedure [dbo].[PRD_LISTAR_CURSO]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRD_LISTAR_CURSO]
AS 
BEGIN

	SELECT A.ID_ASIGNATURA      
      ,A.NOMBRE
      
	FROM T_GENM_ASIGNATURA A 
	
	WHERE A.FLG_ESTADO = '1' ;


END;
--EXEC PRD_LISTAR_PARTES_VEH
GO
/****** Object:  StoredProcedure [dbo].[PRD_LISTAR_GRUPO]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRD_LISTAR_GRUPO]
AS 
BEGIN

	SELECT A.ID_GRUPO   
      ,A.DESCRIPCION
      
	FROM T_GENM_GRUPO A 
	
	WHERE A.FLG_ESTADO = '1' ;


END;
--EXEC PRD_LISTAR_GRUPO
GO
/****** Object:  StoredProcedure [dbo].[PRD_LISTAR_GRUPOS]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRD_LISTAR_GRUPOS]
AS
BEGIN
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
SELECT ID_GRUPO,DESCRIPCION FROM T_GENM_GRUPO WHERE FLG_ESTADO=1;
END
GO
/****** Object:  StoredProcedure [dbo].[PRD_LISTAR_ORDEN_MERITO]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRD_LISTAR_ORDEN_MERITO](
	@IN_ID_ASIGNATURA INTEGER,
	@IN_ID_GRUPO INTEGER,
	@IN_ID_AULA INTEGER,
	@IN_ID_SEMESTRE INTEGER
)
AS 
BEGIN

	
SELECT ALIAS.*
FROM
(
	SELECT
		DENSE_RANK() OVER(order by X.NOMBRES, X.NOTA_TOTAL DESC) AS ROWNUM,
		 X.NOMBRES, X.TIPO_ASIGNATURA, X.NOTA, X.NOTA_TOTAL
	FROM 
	(
		SELECT P.APELLIDO_PATERNO + ' ' + P.APELLIDO_MATERNO + ',' + P.NOMBRES AS NOMBRES, TE.DESCRIPCION AS TIPO_ASIGNATURA,
		       N.NOTA,--G.DESCRIPCION AS GRUPO, AL.DESCRIPCION AS AULA
			(SELECT SUM(NOTA) FROM T_GENM_NOTA WHERE ID_ALUMNO = A.ID_ALUMNO AND ID_ASIGNATURA = ASI.ID_ASIGNATURA) AS NOTA_TOTAL
		FROM T_GENM_ALUMNO A
    INNER JOIN T_GENM_PERSONA P ON A.ID_PERSONA=P.ID_PERSONA
		INNER JOIN T_GENM_NOTA N ON A.ID_ALUMNO = N.ID_ALUMNO
		INNER JOIN T_MAE_TIPO_EVALUACION TE ON N.ID_TIPO_EVALUACION = TE.ID_TIPO_EVALUACION
		INNER JOIN T_GENM_ASIGNATURA ASI ON N.ID_ASIGNATURA = ASI.ID_ASIGNATURA
		INNER JOIN T_GENM_MATRICULA MAT ON A.ID_ALUMNO = MAT.ID_ALUMNO
		INNER JOIN T_GENM_GRUPO G ON MAT.ID_GRUPO = G.ID_GRUPO
		INNER JOIN T_GENM_AULA AL ON G.ID_AULA = AL.ID_AULA
		WHERE ASI.ID_ASIGNATURA = @IN_ID_ASIGNATURA AND MAT.ID_SEMESTRE = @IN_ID_SEMESTRE
		AND ( 0 = @IN_ID_GRUPO OR G.ID_GRUPO = @IN_ID_GRUPO)
		AND ( 0 = @IN_ID_AULA OR AL.ID_AULA = @IN_ID_AULA)
		AND MAT.FLG_ESTADO = '1' AND N.FLG_ESTADO = '1'
	) X
) ALIAS
WHERE ALIAS.ROWNUM <= 3


END;
--EXEC PRD_LISTAR_ORDEN_MERITO @IN_ID_ASIGNATURA = 1, @IN_ID_GRUPO  = 1, @IN_ID_AULA = 0, @IN_ID_SEMESTRE  = 1
GO
/****** Object:  StoredProcedure [dbo].[PRD_LISTAR_SEMESTRE]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRD_LISTAR_SEMESTRE]
AS
BEGIN
  -- routine body goes here, e.g.
  -- SELECT 'Navicat for SQL Server'
SELECT ID_SEMESTRE,DESCRIPCION FROM T_MAE_SEMESTRE WHERE FLG_ESTADO=1;
END
GO
/****** Object:  StoredProcedure [dbo].[PRD_LISTAR_TIPO_USUARIO]    Script Date: 10/12/2020 23:49:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRD_LISTAR_TIPO_USUARIO]
AS 
BEGIN

	SELECT A.ID_TIPO_USUARIO   
      ,A.DESCRIPCION 
	FROM T_MAE_TIPO_USUARIO A
	WHERE A.FLG_ESTADO = '1' 

END;
--EXEC PRD_LISTAR_AULA @IN_ID_GRUPO = 1
GO
USE [master]
GO
